/** {
	box-sizing: border-box;
	outline: 1px solid red;
}*/

html {
	width: 80%;
	height: 100%;
	margin: 0px 140px;
}

body {
	height: 100%;
	background-color: #ffffff;
}



h1, h2, h3 {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 45px;

}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
}


footer {
	height: 410px;
	width: 1440px;
	background-image: url(../images/hero.jpg);
	background-size: 100%;
	background-position-y: -110px;
	clear: both;
	position: relative;
	right: 140px;
}
.main {
	
}

#win-image, img {
	width: 60%;
	float: left;
	margin-right: -100px;
}

.game {
	float: left;
	position: relative;
	left: 40px;
}

.scoreboard {
	width: 359px;
	height: 120px;
	border: 15px;
	border-style: double;
	border-color: #04428f;
	margin-bottom: 15px;
}

.scoreboard, h2, h3 {
	line-height: 50px;

}

#instruction {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

.letters {
	width: 359px;
	height: 290px;
	border: 15px;
	border-style: double;
	border-color: #04428f;
	margin-bottom: 15px;
}